{erl_opts, [
    debug_info,
    {i, "include"},
    {i, "src"},
    {i, "src/z80"}
]}.

{deps, []}.

{include_dirs, ["include"]}.

{eunit_opts, [verbose]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{profiles, [
    {test, [
        {extra_src_dirs, ["test/z80", "test/video"]}
    ]}
]}.
{shell, [
    {apps, [ezx]}
    % {config, "./config/sys.config"}
]}.